<!-- -*- html -*- --><!DOCTYPE html>
<html>
<head>
  <title>$WikiTitle &raquo; $Groupspaced &mdash; $Titlespaced</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!--HTMLHeader-->
  <link rel="stylesheet" href="$SkinDirUrl/skin.css" type="text/css" charset="utf-8" />
  <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
</head>
<body>
<article>
<header>
<!--PageHeaderFmt-->
<!--wiki:$Group.SiteHeader $SiteGroup.SiteHeader-->
<!--/PageHeaderFmt-->
</header>
<section>
  <!--PageTitleFmt-->
  <!--wiki:$Group.PageTitle $SiteGroup.PageTitle-->
  <!--PageText-->
</section>
<footer>
  <!--PageFooterFmt-->
  <!--wiki:$SiteGroup.SiteFooter-->
  <!--/PageFooterFmt-->
</footer>
<div id="pageactionscontainer">
  <nav id="pageactions">
    <!--PageActionsFmt-->
    <!--wiki:$Group.PageActions $SiteGroup.PageActions-->
    <!--/PageActionsFmt-->
  </nav>
</div>
</article>
<aside>
<!--PageLeftFmt-->
<!--wiki:$Group.SideBar $SiteGroup.SideBar-->
<!--/PageLeftFmt-->
</aside>
<!--HTMLFooter-->
</body>
</html>
